body{
   height: 95vh;
   width: 95;
   display: flex;
   justify-content: center; /*alinha horizontal*/
   align-items: center; /*alinha vertical*/
   flex-direction: column;
   color: rgb(44, 139, 44);
}